.page_header {
  position: sticky;
  background-color: #514644;
  top:0;
  width: 100%;
  z-index: 200;
}
.main_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav_ul {
  display: flex;
  list-style:none;
  width:auto;
}

.nav_menu{
  background-color: #514644;
}
.nav_menu li{
  padding: 5px 10px;
  display:inline-block;
  /* transition: all linear .5s; */
}
.line_item {
  margin: 5px 20px;
  list-style-type: none; /*removes ul dots*/
}
#nav_ul li a {
  text-decoration: none; /*removes link underline */
  font-size: 20px;
}
#nav_ul li :link {
  color: #FFDDCE;
}
#nav_ul li :visited {
  color: purple;
}
#nav_ul li :hover {
  color: black;
}
#nav_ul li :active {
  color: red;
  border-radius: 5px;
  font-weight: bold;
}
