@media screen and (max-width: 940px){
    .container {
        position: relative;
    }
    .nav_menu{
        background-color: #514644;
    }
    #nav_ul {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 92%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #page_title {
        font-size: 1.2em;
        margin-left:20px;
    }
    #nav_ul.now-active {
        background-color: #514644;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .line_item {
        text-align: center;
        line-height: 50px;
        width: 90%;
        display: table;
        padding: 0;
    }
    .line_item:hover {
        background-color: red ;
        color: white;
        border-radius: 5px;
        transition: all 0.4s ease-out;
    }
    .main_head {
        width: 100%;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }
    .menu-toggle:hover {
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
